body
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #EDEDED;
    overflow-y: scroll;
}

.layout_content {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: white;
}